$headerColorTextAndBg: #0c1a27;
$headerBackground: url('../img/m-h-day.jpg');
$headerColorButton: #77b300;
$HeadingUnderline: rgb(20, 148, 228);
$mainBackgroundSection: white;
$mainBlocksBackgrounds: #0c1a27;
$bannerFooterBackground:linear-gradient(to right, #77b300, #66cc66, #b3e6b3, #99ddff, #3399ff);
$footerBackground:#0c1a27;
$fontFamilyHeadings: 'Source Sans Pro', sans-serif;
$fontFamilyParagraph: 'Hind', sans-serif;
$fontFamilyPeaks: 'Source Sans Pro', sans-serif;
