$headerColorTextAndBg: white;
$headerBackground: url('../img/m-h-night.jpg');
$headerColorButton: #ffcc00;
$HeadingUnderline: #ff6600;
$mainBackgroundSection: #0c1a27;
$mainBlocksBackgrounds: #3d3d5c;
$bannerFooterBackground: linear-gradient(to right, #ffcc00, #cca300, #99004d, #660033);
$footerBackground: #3d3d5c;
$fontFamilyHeadings: 'Source Sans Pro', sans-serif;
$fontFamilyParagraph: 'Fresca', sans-serif;
$fontFamilyPeaks: 'Fresca', sans-serif;
